<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.uuzz.base.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="user" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="user_pswd" property="userPswd" jdbcType="VARCHAR" />
    <result column="user_email" property="userEmail" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="last_login_time" property="lastLoginTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, user_name, user_pswd, user_email, create_time, last_login_time
  </sql>

  <select id="queryUserById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    SELECT
    <include refid="Base_Column_List" />
    FROM tbl_user
    WHERE id = #{id,jdbcType=INTEGER}
  </select>

  <select id="findUserByName" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM tbl_user
    WHERE user_name = #{userName,jdbcType=VARCHAR}
  </select>

  <select id="queryUserByNameAndPswd" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM tbl_user
    WHERE user_name = #{userName,jdbcType=VARCHAR}
    AND user_pswd = #{userPswd,jdbcType=VARCHAR}
  </select>

  <select id="findUserByEmail" resultMap="BaseResultMap" parameterType="java.lang.String">
    SELECT
    <include refid="Base_Column_List"/>
    FROM tbl_user
    WHERE user_email = #{email,jdbcType=VARCHAR}
  </select>

  <delete id="deleteUserById" parameterType="java.lang.Integer" >
    DELETE FROM tbl_user
    WHERE id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="addUser" parameterType="user" >
    INSERT INTO tbl_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="userPswd != null" >
        user_pswd,
      </if>
      <if test="userEmail != null" >
        user_email,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="lastLoginTime != null" >
        last_login_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPswd != null" >
        #{userPswd,jdbcType=VARCHAR},
      </if>
      <if test="userEmail != null" >
        #{userEmail,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLoginTime != null" >
        #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateUserById" parameterType="user" >
    UPDATE tbl_user
    <set >
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPswd != null" >
        user_pswd = #{userPswd,jdbcType=VARCHAR},
      </if>
      <if test="userEmail != null" >
        user_email = #{userEmail,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLoginTime != null" >
        last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    WHERE id = #{id,jdbcType=INTEGER}
  </update>

  <select id="queryUsers" resultMap="BaseResultMap" parameterType="user">
    SELECT <include refid="Base_Column_List"/>
    FROM tbl_user
    <trim prefix="WHERE" prefixOverrides="AND" suffixOverrides=",">
      <if test="userName != null and userName != ''" >
        AND user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPswd != null and userPswd!= ''" >
        AND user_pswd = #{userPswd,jdbcType=VARCHAR},
      </if>
      <if test="userEmail != null and userEmail != ''" >
        AND user_email = #{userEmail,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null and createTime != ''" >
        AND create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLoginTime != null and lastLoginTime != ''" >
        AND last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </select>

  <delete id="deleteUsersbyIds" parameterType="java.util.List">
    DELETE
    FROM tbl_user
    WHERE id IN
    <foreach collection="ids" item="id" open="(" separator="," close=")">
      #{id}
    </foreach>
  </delete>

</mapper>