
div[data-options]{
    padding: 10px;
}
.main-north{
    height: 60px;
    background-color: #B3DFDA;
}
.main-west{
    width: 150px;
}
.main-east{
    width: 100px;
}
.main-south{
    height: 30px;
    background-color: #A9FACD;
}
#topSet{
    width: 60px;
    height: 26px;
    margin-top: 20px;
    margin-left: 88%;
}
